@font-face {
  font-family: "BigNoodleTitling";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: /*local('BigNoodleTitling'),*/ url("fonts/big_noodle_titling-webfont.woff2")
      format("woff2"),
    url("fonts/big_noodle_titling-webfont.woff") format("woff"),
    url("fonts/big_noodle_titling.ttf") format("truetype");
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "BigNoodleTitling", Fallback, sans-serif;
  font-weight: 400;
  background: #f1f1f1;
}

h1 {
  text-align: center;
  font-size: 38px;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

nav {
  height: 60px;
  background-color: #ff2020;
  color: white;
  font-size: 32px;
  user-select: none;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6)
}

.bold {
  font-weight: bold;
}

a:link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

::selection {
  /* background-color: #9d021c; */
  background-color: #fb042d;
}

::-moz-selection {
  /* background-color: #9d021c; */
  background-color: #fb042d;
}

.container {
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.wrapper {
  width: 80%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.menu {
  max-width: 1000;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  letter-spacing: 5px;
}

.menu a {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  height: 60px;
}

.logo {
  width: 50px;
  height: 50px;
}

.banner-button {
  display: inline-block;
  width: 34px;
  height: 17px;
  margin: 0 15px;
  background-color: white;
  border-width: 2px;
  border-color: red;
  cursor: pointer;
  -webkit-transition: background-color 1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}

.banner-buttons span {
  margin-bottom: 20px;
}

.banner {
  position: relative;
  /* overflow: hidden; */
  width: 80%;
  height: 600px;
  background-image: url("images/banner-example-1.jpg");
  background: no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.banner-text {
  display: inherit;
  height: 50%;
  font-size: 42px;
  color: white;
  opacity: 1;
  -webkit-animation: fadeIn 1.5s ease-in-out;
  -moz-animation: fadeIn 1.5s ease-in-out;
  animation: fadeIn 1.5s ease-in-out;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}

#home-links {
  width: 80%;
  margin-top: 25px;
  margin-bottom: 100px;
  color: white;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;

}

.home-link {
  width: 30%;
  height: 150px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "BigNoodleTitling", Fallback, sans-serif;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 10px;
}

#quem-somos {
  background: url("images/home-menu/Quem-somos.jpg") no-repeat bottom;
  background-size: cover;
}

#linhas-de-banho {
  background: url("images/home-menu/Linhas-de-Banho.jpg") no-repeat center;
  background-size: cover;
}

#orcamento {
  background: url("images/home-menu/Orcamento.jpg") no-repeat center;
  background-size: cover;
}

.setores {
  width: 60%;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.setor {
  width: 160px;
  height: 160px;
  padding: 30px;
  margin: 35px;
  border: 10px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: border-color 0.7s ease-in-out;
  -moz-transition: border-color 0.7s ease-in-out;
  transition: border-color 0.7s ease-in-out;
}

.setor:hover {
  border-color: rgba(128, 128, 128, 0.2);
}

.setor h3 {
  height: 50px;
}

.setor-img {
  width: 75px;
  opacity: 0.5;
  user-select: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
